.App {
  text-align: center;
}

.App nav {
  display: flex;
  justify-content: space-evenly;
}

.navLinks {
  /* border: 2px solid yellow; */
  width: 200px;
  padding-top: 23px;
  display: flex;
  justify-content: space-evenly;
}

.navLinks a {
  /* text-decoration: none; */
  color: red;
}

.imgContainer img {
  max-height: 500px;
  max-width: 500px;
}

form {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 2.0rem;
  text-align: center;
  margin: 0 auto;
  width: 500px;
  display: flex;
  flex-direction: column;
  background-color: rgb(238, 231, 231);

}

select {
  margin: 1% auto;
}

textarea {
  width: 20%;
  margin: 1% auto;
  
}

button {
  width: 20%;
  margin: 0 auto;
}